*{
    padding: 1%; 
    
  
}
#heading:first-line{
  background:linear-gradient(violet,indigo,blue,yellow,orange,red,violet,indigo,blue,yellow,orange);
  -webkit-background-clip:text;
  color: transparent;
  font-size: 62.5px;
}

body{
  background-image: url(/images/formimages/flat-design-geometric-shapes-background_23-2148366514.webp);
}
img{
    border-radius: 5px !important;
}
.form-control {
  background-color: white ;
 
 }
 .form-control input{
    display: block;
    width: 98.5%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 1%;
 } 
.a1{
  background-image: url(/images/formimages/R.gif);
 border: 2px solid black;

 width: 40% !important;
 height: 30% !important;


 }

 .img{
   width: 100%;
  
 }

#button:hover{
    background-color:green !important;
    
}