*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-transform: capitalize;
    font-family:ğ“¼ğ“ªğ“½ğ“²ğ“¼ğ“¯ğ”‚ ;
    
}
.navbar-brand{
    font-size: 32px;
}
/* .nav .navbar-nav .nav-link{
    color: black;
} */
.navbar .navbar-nav .nav-item .nav-link{
    text-decoration: none;
    color: black;
    transform: uppercase;
    /* font-family: 'Nunito'; */
    text-align: center;
    padding: 0.5rem 1rem ;
}
.navbar .navbar-nav .nav-link:hover{
    /* color: black; */
    color: orange !important;
    background-color: orange;
}