@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter{
  margin: auto;
}
body{
    
    text-transform: capitalize;
    font-family:ğ“¼ğ“ªğ“½ğ“²ğ“¼ğ“¯ğ”‚ ;
    
}


/* navbar css start  */
.navbar-brand{
    font-size: 32px;
}
/* .nav .navbar-nav .nav-link{
    color: black;
} */
.navbar .navbar-nav .nav-item .nav-link{
    text-decoration: none;
    color: black;
    transform: uppercase;
    
    text-align: center;
    padding: 0.5rem 1rem ;
}
.navbar .navbar-nav .nav-link:hover{
    /* color: black; */
    color: white !important;
    background-color: #ffa500;
}
/* navbar css end  */
.productoffer{
    padding-top: 8.75rem;
}
.cards:hover{
    box-shadow: 4px 4px 30px -2px;
}
.cards{
    width: 25% !important;
    border-radius: 5px;
}
.add{
    text-align: center;
    background-color: black;
    color: white;
}
.cardes{
    width: 20% !important;
    margin: 0;
    padding: 0;

}
.text1{
  
}


/* our 1 offer css start */
  div.slide-left {
    width:100%;
    overflow:hidden;
    color:black;
    background-color:#ffa500;
  }
  div.slide-left h1 {
    animation: slide-left 27s;
  }
  div.slide-left h4 {
    animation: slide-left 32s;
  }
  
  @keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
     
      width: 100%;
    }
  }
/* our 1 offer css end */

/* our 2 offer css start */
.slide-lefe{
    background-color: #ffa500;
    text-align: center;
    justify-content: center;
}
@import url(
    'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
         
          .slide-lefe{
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
          }
          .slide-lefe:first-of-type{
            animation: appear 6s infinite;
          }
          .slide-lefe:last-of-type{
            animation: reveal 6s infinite;
          }
          .slide-lefe:last-of-type span{
            font-size: 33px;
           
            animation: slide 6s infinite;
           
          }
          @keyframes appear{
            0%{opacity: 0;}
            20%{opacity: 1;}
            80%{opacity: 1;}
            100%{opacity: 0;}
          }
          @keyframes slide{
            0%{margin-left:-800px;}
            20%{margin-left:-800px;}
            35%{margin-left:0px;}
          100%{margin-left:0px;}
          }
          @keyframes reveal{
            0%{opacity: 0; width: 0px;}
            20%{opacity: 1; width: 0px;}
            30%{width: 100%;}
            80%{opacity: 1;}
            100%{opacity: 0; width: 655px;}
          }

/* our 2 offer css start */





   















/* card end */



  
<<<<<<< Updated upstream
  
.icons2{
  margin: 10px;
  display: inline-block;
  margin-bottom: 20px;
}
.anchoicon{
  text-decoration: none;
}
.anchoicon:hover{
  text-decoration: none;

}
.wavvyx{

 background-image: url('/thrifstore/images/footerwave/wave.png');
  background-size: contain;
  background-repeat: repeat;

  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  

  
}
.wavvyx2{
 background-image: url('/thrifstore/images/footerwave/backgrounfoter.png') ;

color: white ;
   background-size: contain;
   background-repeat: repeat;
 
   margin: 0;
   padding: 0;

   
 
   
 }
 
footer{
  margin-top: 0%;
  background-color: #ff9000 !important;
 
  width: 100% !important;
}
.colorzz{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
color: white;

}
.ungine{
  margin-bottom: 0px;
  margin: 0% !important;
}
.backie{
  background-color: orange;
  
 
}
  
=======


  /* grid start */
 
  /* grid end */
>>>>>>> Stashed changes
