*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    text-transform: capitalize;
    font-family:ğ“¼ğ“ªğ“½ğ“²ğ“¼ğ“¯ğ”‚ ;
    
}
.navbar-brand{
    font-size: 32px;
}
/* .nav .navbar-nav .nav-link{
    color: black;
} */
.navbar .navbar-nav .nav-item .nav-link{
    text-decoration: none;
    color: black;
    transform: uppercase;
    /* font-family: 'Nunito'; */
    text-align: center;
    padding: 0.5rem 1rem ;
}
.navbar .navbar-nav .nav-link:hover{
    /* color: black; */
    color: orange !important;
    background-color: orange;
}

.abc{
    width:70%;
    height: 50%;
    left: 15%;
    top: 20%;
    position: absolute;
    background-image: url(a1.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 7px rgb(0, 0, 0);
    animation:slider 5s infinite linear;
}
@keyframes slider{
    0%{background-image: url(/images/image1/bg1.png);}
    30%{background-image: url(/images/image1/bg2.jpg); }
    60%{background-image: url(/images/image1/logo.jpg); }
    99%{background-image: url(/images/formimages/a2.webp);}
}
body{
    background-color: black;
}



















.footeranimation{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    overflow: hidden;
    position: relative;

}

.footeranimation .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url(/images/footerwave/wave.png);
    background-size: 1000px 100px;

}
.footeranimation .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;

}

.footeranimation .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;

}
.footeranimation .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;

}
.footeranimation .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;

}


@keyframes animate{

    0%{
        background-position-x: 0;


    }


    100%{
        background-position-x: 1000px;
    }


}
@keyframes animate2{

    0%{
        background-position-x: 0;


    }


    100%{
        background-position-x: -1000px;
    }


}
.aindex{
    z-index: 4000;
}